
body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: my-Roboto;
}

.container{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: minmax(240px,1fr) 5fr;
}

.sideBar{
    background-color: rgb(23, 142, 233);
    display: grid;
    align-content: start;
    gap:50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
}

.sideBar > div{
    display: grid;
    gap:20px;
    grid-template-columns: auto 100px;
    justify-content: start;
    align-items: center;
}

.sideBar p,
.sideBar h1{
    color: whitesmoke;
}

.sideBar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}


.rightSide{
    display: grid;
    grid-template-rows: 140px 5fr;

}

.header{
    grid-column: 1 /2;

    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: 10px;

    box-shadow: 1px 1px 10px 0px rgb(168, 168, 168);
    z-index: 1;


}

.search{
    grid-column: 1 /2;
    background-color: whitesmoke;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    gap: 10px;
    align-items: center;
}

.search input{
    appearance: none;
    outline: none;
    border: none;
    border-radius: 10px;
    /* width: 120%; */
    height: 25px;
    background-color: rgb(207, 207, 207);

    padding: 2px 8px;
}

.notifySec{
    grid-column: 2/3;
    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    justify-content: end;
    align-items: center;

    background-color: whitesmoke;
}

.notifySec p , .projects-title, .announcements-title,
.trending-title
 {
    font-size: 18px;
    font-weight: 550;
}

.nameSec{
    align-items: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 3fr;
    background-color: aliceblue;
    gap: 15px;
    font-weight: bold;
}

.hi-sec p:nth-child(1){
    font-size: 12px;
}

.hi-sec p:nth-child(2){
    font-size: 25px;
}


.buttonSec{
    display: grid;
    gap: 15px;
    grid-auto-flow: column;

    align-content: center;
    justify-content: end;


}


.buttonSec button{
    border-radius: 14px;
    border: none;
    font-size: 13px;
    padding: 6px 8px;
    background-color: rgb(23, 142, 233);    
    color: whitesmoke;

    width: 80px;
    cursor: pointer;
    font-weight: 550;
}


.main{
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-rows: 40px 1fr 1fr;
    padding-left: 15px;
    gap: 15px;

    background-color: rgb(217, 224, 228);
}


.projects-title,
.announcements-title{
    align-self: end;
    color: black;
    margin-bottom: -7px;
}

.box-side{
    grid-column: 2;
    grid-row: 2 / 4;

    display: grid;
    align-content: start;
}

.box-side h2{
    margin-bottom: 6px;
    font-size: 20px;
}
.ann-box, .trendingBox{
    width: 270px;
    border-radius: 8px;
    background-color: whitesmoke;
    padding: 20px;
    height: 291px;
    display: grid;


}

.ann-box{
    margin-bottom: 27px;
    padding-bottom: 10px;
    padding-top: 10px;

}

.ann-box div{
    padding: 9px;
    display: grid;
    align-content: center;
}



.ann-box div:nth-child(2){
    border-top: 1px solid rgb(190, 189, 189);
    border-bottom: 1px solid rgb(190, 189, 189);
}

.ann-box h3{
    font-size: 12px;
    margin-bottom: 2px;
}
.ann-box p, .trending-text{
    font-size: 12px;
    color: rgb(71, 71, 71);
}

.trendingBox{
    grid-template-rows: auto auto auto auto;
    gap: 15px;

    align-content: center;
}

.trendingBox > div{
    align-content: center;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto 1fr;
    gap: 20px;
}

.trending-icon{
   align-self: center;
}

.trending-at{
    color: black;
    font-size: 14px;
}
.trending-text{
    font-size: 14px;
}

.trendingBox .trending-rightBox{
    display: grid;
    align-content: center;
}


.article{
    grid-row: 2 / 4;
    grid-column: 1;


    display: grid;
    grid-template-columns: repeat(auto-fill,minmax( 350px, 1fr));
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    gap: 20px;

}

.box{
    border-radius: 8px;
    background-color: azure;
    border-left: rgb(255, 174, 0) 6px solid;
    height: 200px;
    padding: 0 15px 0px 15px;

    display: grid;
    grid-template-rows: 40px 1fr 40px;
}



.box .art-header{
    font-size: 17px;
    align-self: end;
    margin-bottom: 2px;
}

.box p{
    color: rgb(71, 71, 71);
    font-size: 13px;
}
.op-buttons{
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    gap: 15px;
    margin-right: 10px;
}


.box
,.ann-box
,.trendingBox{
    box-shadow: 2px 4px 5px 1px rgb(202, 202, 202);
}

.icon{
    height: 20px;
    width: auto;
    cursor: pointer;

}

.sideBar .icon{
    filter: invert(98%) sepia(0%) saturate(7214%) hue-rotate(296deg) brightness(121%) contrast(92%);
}

.dash-section .icon{
    height: 36px;
}

.sideBar .dash-section{
    margin-left: -6px;
    gap: 9px;
}

.dash-section h1{
    font-size: 25px;
}

.trending-icon{
    height: 50px;
}

.search .icon{
    height: 23px;
}

.profilePic{
    height: 70px;
}

@font-face {
    font-family: my-Roboto;
    src: url(./fonts/RobotoSlab-VariableFont_wght.ttf);
}






