
body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: minmax(240px,1fr) 5fr;
}

.sideBar{
    background-color: rgb(23, 142, 233);
    display: grid;
    align-content: start;
    gap:50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
}

.sideBar > div{
    display: grid;
    gap:20px;
    grid-template-columns: auto 100px;
    justify-content: start;
    align-items: center;
}

.sideBar p,
.sideBar h1{
    color: whitesmoke;
}

.sideBar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}


.rightSide{
    display: grid;
    grid-template-rows: 140px 5fr;

}

.header{
    grid-column: 1 /2;

    display: grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;

    padding-right: 5%;
    padding-left: 5%;

    box-shadow: 1px 1px 10px 0px rgb(168, 168, 168);
    z-index: 1;


}

.search{
    grid-column: 1 /2;
    background-color: whitesmoke;
    display: grid;
    align-items: center;
    justify-items: start;
}

.search input{
    appearance: none;
    outline: none;
    border: none;
    border-radius: 10px;
    width: 80%;
    height: 25px;
    background-color: rgb(207, 207, 207);

    padding: 2px 8px;
}

.notifySec{
    grid-column: 2/3;
    display: grid;
    justify-content: end;
    align-content: center;

    background-color: whitesmoke;
}

.nameSec{
    background-color: aliceblue;
}

.buttonSec{
    display: grid;
    gap: 15px;
    grid-auto-flow: column;

    align-content: center;
    justify-content: end;


}


.buttonSec button{
    border-radius: 14px;
    border: none;
    font-size: 15px;
    padding: 6px 8px;
    background-color: rgb(23, 142, 233);    
    color: whitesmoke;

    width: 80px;
    cursor: pointer;
}


.main{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 30px 1fr 1fr;
    padding-left: 15px;
    gap: 15px;

    background-color: rgb(217, 224, 228);
}


.projects-title,
.announcements-title{
    align-self: end;
    color: black;
    font-weight: 600;
    margin-bottom: -7px;
}

.box-side{
    grid-column: 2;
    grid-row: 2 / 4;
}

.ann-box{
    display: grid;
    align-content: center;
}

.ann-box div{
    padding: 9px;
}

.ann-box, .trendingBox{
    width: 270px;
    height: 307px;
    border-radius: 8px;
    background-color: azure;
    padding: 20px;
}

.ann-box div:nth-child(2){
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.ann-box h3{
    font-size: 15px;
    margin-bottom: 2px;
}
.ann-box p{
    font-size: 14px;
    color: rgb(71, 71, 71);
}

.trendingBox{
    
}
.article{
    grid-row: 2 / 4;
    grid-column: 1;


    display: grid;
    grid-template-columns: repeat(auto-fill,minmax( 350px, 1fr));
    grid-template-rows: 200px;
    grid-auto-rows: 200px;
    gap: 20px;

}

.box{
    border-radius: 8px;
    background-color: azure;
    border-left: rgb(255, 174, 0) 6px solid;
    height: 200px;
    padding: 0 15px 0px 15px;

    display: grid;
    grid-template-rows: 40px 1fr 40px;
}

.box .art-header{
    font-size: 18px;
    align-self: end;
}

.box p{

}

.op-buttons{
    justify-self: end;

    display: grid;
    grid-auto-flow: column;
    gap: 15px;
}





