
body{
    margin: 0;
    min-height: 100vh;
    width: 100%;
    display: grid;
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: minmax(240px,1fr) 5fr;
    grid-template-areas: 'sideBar' '';
}

.sideBar{
    background-color: rgb(23, 142, 233);
    display: grid;
    align-content: start;
    gap:50px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 5px;
}

.sideBar > div{
    display: grid;
    gap:20px;
    grid-template-columns: auto 100px;
    justify-content: start;
    align-items: center;
}

.sideBar p,
.sideBar h1{
    color: whitesmoke;
}

.sideBar a{
    text-decoration: none;
    color: whitesmoke;
    font-size: 20px;
}


.rightSide{
    display: grid;
    grid-template-rows: 1fr 5fr;

}

.header{
    grid-column: 1 /2;
    background-color: blue;
}

.main{
    background-color: aqua;
}
